In [1]:
import pandas as pd

In [2]:
pd.set_option('display.float_format', lambda x: '%.8f' % x) 
# change the visualization of a float to eight decimal digits.

In [3]:
# raw: unnessessary
binance22 = pd.read_csv('data/raw/extrato_binance_2022.csv')
binance23 = pd.read_csv('data/raw/extrato_binance_2023.csv')

In [4]:
# processed:
binance = pd.read_csv('data/processed/extrato_binance.csv', index_col=0)
binance.sort_index(inplace=True)

In [5]:
# final
binance = pd.read_csv('data/final/saldo_binance.csv', index_col=0)
trezor = pd.read_csv('data/final/saldo_trezor.csv', index_col=0)
binance_complete = pd.read_csv('data/final/binance_dates.csv', index_col=0)

In [6]:
binance

                  UTC_Time      Balance    BRL_spent      Mean_price
Coin
BTC    2022-01-04 19:50:53   0.00200996 250.00000000 124380.58468825
BUSD   2022-02-19 02:28:25   0.00669834   0.00000000      0.00000000
LUNA   2022-03-07 17:16:16   0.03968038   0.00000000      0.00000000
MATIC  2022-08-24 14:43:07 116.41497617 650.34178706      5.58641000
ETHW   2022-09-20 01:18:13   0.33923493   0.00000000      0.00000000

In [7]:
trezor

            Amount      BRL_spent      Mean_price
BRL 15091.74000000 15091.74000000      1.00000000
ETH     0.52902128  4820.77315853   9112.62616605
BTC     0.14764959 16967.83666190 114919.63277309